{% extends "base.html" %}
{% block title %}登入{% endblock %}

{% block content %}
<h2>登入系統</h2>

{% if error %}
  <p style="color: red;">{{ error }}</p>
{% endif %}

<form method="POST">
    {{ form.hidden_tag() }}

    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
        {% for err in form.username.errors %}
          <span style="color:red;">{{ err }}</span>
        {% endfor %}
    </p>

    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
        {% for err in form.password.errors %}
          <span style="color:red;">{{ err }}</span>
        {% endfor %}
    </p>

    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
